<!DOCTYPE html>
<html class=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="keywords" content="物流，华腾物流">
    <meta name="description" content="华腾物流。">
    <title>华腾物流—您贴心的货运选择</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.jpg') }}">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <!-- MT ICONS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mt-icons.css') }}">

    <!-- FANCYBOX -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">

    <!-- REVOLUTION SLIDER -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">

    <!-- OWL Carousel -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.transitions.css') }}">

    <!-- MAGNIFY -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnify.css') }}">

    <!-- YOUTUBE PLAYER -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/YTPlayer.css') }}">

    <!-- TEXT ROTATOR -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simpletextrotator.css') }}">

    <!-- ANIMATIONS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">

    <!-- CUSTOM & PAGES STYLE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages-style.css') }}">

    <style>
        #footer a, #footer p {
            color: #d7d7d7;
        }

        .no-padding {
            padding: 0;
        }

        .modal {
            bottom: 0;
            display: none;
            left: 0;
            outline: 0 none;
            overflow: hidden;
            position: fixed;
            right: 0;
            top: 25%;
            z-index: 1050;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-horizontal .control-label {
            margin-bottom: 0;
            padding-top: 7px;
            text-align: right;
        }

        #footer {
            padding: 85px 0 0;
        }

        #footer .widget-pages ul li, #footer .widget-archives ul li, #footer .widget-metadata ul li, #footer .widget-categories ul li, #footer .widget-recent-posts ul li {
            border-bottom: none;
        }

        .widget-recent-posts ul li {
            border-bottom: 1px solid #f2f2f2;
            padding-bottom: 10px;
        }

        .downloadMobile {
            display: none;
        }

        @media {
            .downloadMobile {
                display: block;
                position: fixed;
                bottom: 0;
                width: 100%;
                background: #fff;
                z-index: 999999;
            }
        }

        @media screen and (max-width: 600px) {
            .hiddenClass {
                display: block !important;
            }

            #go-top {
                bottom: 15%;
            }
        }

        .hiddenClass {
            display: none;
        }

        .downloadMobile {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: #fff;
            z-index: 999999;
        }

        .greenBlock {
            border: 1px solid #3BBD79;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            color: #3BBD79;
            font-size: 13px;
            padding: 4px;
        }

        .greenBlock a {
            color: #3bbd79;
            text-decoration: none;
        }

        .overflow {
            overflow: hidden;
        }
    </style>

<style type="text/css">.fancybox-margin{margin-right:0px;}</style></head>

<body>
<div id="backdrop1" class="modal-backdrop fade in" style="z-index: 2000;display: none"></div>

<div id="page-wrapper">

    <!-- HEADER -->
    <header>

        <div id="header-top">

            <div class="container">
                <div class="row">
                    <div class="col-sm-7">


                        <div class="widget widget-contact">

                            <ul>
                                <li>
{#                                    <i class="mt-icons-telephone"></i>#}
                                    <span>联系电话</span>
                                    <span class="hidden-xs">139-2619-8710</span>
                                    <a class="visible-xs-inline" href="tel:139-2619-8710">139-2619-8710</a>
                                </li>
{#                                <li>#}
{#                                    <i class="mt-icons-mail"></i>#}
{#                                    <a href="mailto:service@qihuob2b.com">service@qihuob2b.com</a>#}
{#                                </li>#}
                            </ul>

                        </div>
                        <!-- widget-contact -->

                    </div>
                    <!-- col -->
                    <div class="col-sm-5">
                        <div class="widget widget-contact">


                        </div>
                        <!-- widget-pages -->

                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->

        </div>
        <!-- header-top -->

        <div id="header" class="header-sticky">

            <div class="container">
                <div class="row">
                    <div class="col-sm-3">

                        <!-- LOGO -->
                        <a id="logo" href="#">
                            <img style="width:80px;" src="{{ url_for('static', filename='img/logo.jpg') }}" alt="">
                        </a>
                    </div>
                    <!-- col -->
                    <div class="col-sm-9">


                        <!-- MENU -->
                        <nav>

                            <a id="mobile-menu-button" href="#"><i class="mt-icons-menu"></i></a>

                            <ul class="menu clearfix sf-js-enabled sf-arrows" id="menu" style="touch-action: pan-y;">
{#                                <li class="">#}
{#                                    <a class="a" href="#page-wrapper">主页</a>#}
{#                                </li>#}
{#                                <li class="">#}
{#                                    <a class="a" href="#download">下载</a>#}
{#                                </li>#}
{#                                <li class="">#}
{#                                    <a class="a" href="#role">角色</a>#}
{#                                </li>#}
{#                                <li class="">#}
{#                                    <a class="a" href="#introduce">介绍</a>#}
{#                                </li>#}
                                <li class="">
                                    <a class="a" href="#about">关于我们</a>
                                </li>
                                <li class="">
                                    <a class="a" href="#introduce">运费报价</a>
                                </li>
                                <li class="">
                                    <a class="a" href="#contact">联系方式</a>
                                </li>
                            </ul>

                        </nav>

                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->

        </div>
        <!-- header -->

    </header>
    <!-- HEADER -->


    <!-- CONTENT -->
    <div style="padding-bottom: 0" id="content">
        <div class="bannercontainer" style="margin-bottom: 0px; overflow: visible;">

        <div id="about" class="container" style="padding-top: 50px;padding-bottom:50px;">
            <div class="row">
                <div class="col-sm-6">

                    <p><img class="wow pulse" data-wow-duration="1s" src="{{ url_for('static', filename='img/cover.jpg') }}" alt="" style="visibility: visible; animation-duration: 1s; animation-name: pulse;"></p>

                </div>
                <!-- col -->
                <div class="col-sm-6">

                    <div class="sub-headline">

                        <h3>关于华腾</h3>

                    </div>
                    <!-- sub-headline -->

                    <p style="text-indent: 2em">“华腾”是专业的物流公司，有着精干的物流团队。</p>

                    <p style="text-indent: 2em">“华腾”专精于珠三角到湖南地区的物流运输，价格优，速度快，是您最佳的选择。
</p>
                    <ul class="check-list">
                        <li>华腾物流运输公司</li>
                        <li>地址：广东省佛山市顺德区</li>
                        <li>电话：<a href="tel:139-2619-8710">139-2619-8710</a></li>
                        <li>邮箱：<a href="mailto:service@xxx.com">service@xxx.com</a></li>
                        <li>微信公众号：华腾物流</li>
                        <li>网站备案号：<a href="http://www.miitbeian.gov.cn" target="_balnk">粤ICP备xxxxxxxx</a></li>
                    </ul>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <div id="introduce" class="container" style="padding-top: 0px;padding-bottom:0px;">
            <h3>报价明细</h3>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>地名</th>
                    <th>货物</th>
                    <th>元／立方米</th>
                    <th>货物</th>
                    <th>元／吨</th>
                    <th>到货时间</th>
                    <th>货运公司</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>邵阳</td>
                    <td>轻货</td>
                    <td>90-110</td>
                    <td>重货</td>
                    <td>300</td>
                    <td>1-2/天</td>
                    <td>华腾</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>邵东</td>
                    <td>轻货</td>
                    <td>90-110</td>
                    <td>重货</td>
                    <td>300</td>
                    <td>1-2/天</td>
                    <td>华腾</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>娄底</td>
                    <td>轻货</td>
                    <td>90-110</td>
                    <td>重货</td>
                    <td>300</td>
                    <td>1-2/天</td>
                    <td>华腾</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>隆回</td>
                    <td>轻货</td>
                    <td>130-150</td>
                    <td>重货</td>
                    <td>320</td>
                    <td>1-2/天</td>
                    <td>华腾</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>邵阳县</td>
                    <td>轻货</td>
                    <td>130-150</td>
                    <td>重货</td>
                    <td>320</td>
                    <td>1-2/天</td>
                    <td>华腾</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>武冈</td>
                    <td>轻货</td>
                    <td>130-150</td>
                    <td>重货</td>
                    <td>320</td>
                    <td>1-2/天</td>
                    <td>华腾</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>洞口</td>
                    <td>轻货</td>
                    <td>130-150</td>
                    <td>重货</td>
                    <td>320</td>
                    <td>1-2/天</td>
                    <td>华腾</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>新宁</td>
                    <td>轻货</td>
                    <td>130-150</td>
                    <td>重货</td>
                    <td>320</td>
                    <td>1-2/天</td>
                    <td>华腾</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>绥宁</td>
                    <td>轻货</td>
                    <td>140-160</td>
                    <td>重货</td>
                    <td>350</td>
                    <td>2-3/天</td>
                    <td>华腾</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>城步</td>
                    <td>轻货</td>
                    <td>140-160</td>
                    <td>重货</td>
                    <td>350</td>
                    <td>2-3/天</td>
                    <td>华腾</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>郴州</td>
                    <td>轻货</td>
                    <td>80-90</td>
                    <td>重货</td>
                    <td>300</td>
                    <td>1-2/天</td>
                    <td>拓发</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>资兴</td>
                    <td>轻货</td>
                    <td>80-90</td>
                    <td>重货</td>
                    <td>300</td>
                    <td>1-2/天</td>
                    <td>拓发</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>常德</td>
                    <td>轻货</td>
                    <td>100</td>
                    <td>重货</td>
                    <td>320</td>
                    <td>1-2/天</td>
                    <td>毅飞</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>津市</td>
                    <td>轻货</td>
                    <td>130</td>
                    <td>重货</td>
                    <td>350</td>
                    <td>1-2/天</td>
                    <td>毅飞</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>澧县</td>
                    <td>轻货</td>
                    <td>130</td>
                    <td>重货</td>
                    <td>350</td>
                    <td>2-3/天</td>
                    <td>毅飞</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>石门</td>
                    <td>轻货</td>
                    <td>130</td>
                    <td>重货</td>
                    <td>350</td>
                    <td>2-3/天</td>
                    <td>毅飞</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>株洲</td>
                    <td>轻货</td>
                    <td>100</td>
                    <td>重货</td>
                    <td>300</td>
                    <td>1-2/天</td>
                    <td>新超</td>
                    <td>可配送安装</td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>湘潭</td>
                    <td>轻货</td>
                    <td>100</td>
                    <td>重货</td>
                    <td>300</td>
                    <td>1-2/天</td>
                    <td>新超</td>
                    <td>可配送安装</td>
                </tr>
                </tbody>
            </table>
            <!-- row -->
        </div>
        <div id="contact" class="container" style="padding-top: 50px;padding-bottom:50px;">
            <div class="row">
                <h3>联系方式</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <h4>微信公众号</h4>
                    </div>
                    <div class="row">
                        <img src="{{ url_for('static', filename='img/weixin.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <h4>电话</h4>
                    </div>
                    <div class="row">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <td>邵阳／新邵／邵阳县</td>
                                <td>15973905328</td>
                                <td>杨女士</td>
                            </tr>
                            <tr>
                                <td>隆回</td>
                                <td>18373945289</td>
                                <td>马先生</td>
                            </tr>
                            <tr>
                                <td>武冈／城步</td>
                                <td>0739-4275811</td>
                                <td>石先生</td>
                            </tr>
                            <tr>
                                <td>洞口/绥宁</td>
                                <td>18973985129</td>
                                <td>小唐</td>
                            </tr>
                            <tr>
                                <td>新宁</td>
                                <td>0739-4831419</td>
                                <td>李先生</td>
                            </tr>
                            <tr>
                                <td>娄底</td>
                                <td>18973895912</td>
                                <td>石先生</td>
                            </tr>
                            <tr>
                                <td>邵东</td>
                                <td>0739-2611892</td>
                                <td>王先生</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- CONTENT -->
</div>
<!-- GO TOP -->
{#<a id="go-top" style="display: block;"><i class="mt-icons-arrow-up2"></i>Top</a>#}
<a id="go-top" style="display: block;">Top</a>
</div>
<!-- jQUERY -->
<script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>

<!-- BOOTSTRAP JS -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- VIEWPORT -->
<script src="{{ url_for('static', filename='js/jquery.viewport.js') }}"></script>

<!-- MENU -->
<script src="{{ url_for('static', filename='js/hoverIntent.js') }}"></script>
<script src="{{ url_for('static', filename='js/superfish.js') }}"></script>

<!-- FANCYBOX -->
<script src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}"></script>

<!-- REVOLUTION SLIDER -->
<script src="{{ url_for('static', filename='js/jquery.themepunch.tools.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.themepunch.revolution.min.js') }}"></script>

<!-- OWL Carousel -->
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>

<!-- PARALLAX -->
<script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>

<!-- ISOTOPE -->
<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>

<!-- PLACEHOLDER -->
<script src="{{ url_for('static', filename='js/jquery.placeholder.min.js') }}"></script>

<!-- CONTACT FORM VALIDATE & SUBMIT -->
<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>

<!-- GOOGLE MAPS -->
<!--<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>-->
<!--<script src="/Public/home/assets/plugins/googlemaps/gmap3.min.js"></script>-->

<!-- CHARTS -->
<script src="{{ url_for('static', filename='js/jquery.easypiechart.min.js') }}"></script>

<!-- COUNTER -->
<script src="{{ url_for('static', filename='js/jQuerySimpleCounter.js') }}"></script>

<!-- STATISTICS -->
<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>

<!-- YOUTUBE PLAYER -->
<script src="{{ url_for('static', filename='js/jquery.mb.YTPlayer.js') }}"></script>

<!-- HOVERDIR -->
<script src="{{ url_for('static', filename='js/hoverdir.js') }}"></script>

<!-- MAGNIFY -->
<script src="{{ url_for('static', filename='js/jquery.magnify.js') }}"></script>

<!-- INSTAFEED -->
<script src="{{ url_for('static', filename='js/instafeed.min.js') }}"></script>

<!-- TWITTERFETCHER -->
<script src="{{ url_for('static', filename='js/twitterfetcher.js') }}"></script>

<!-- TEXT ROTATOR -->
<script src="{{ url_for('static', filename='js/jquery.simple-text-rotator.min.js') }}"></script>

<!-- ANIMATIONS -->
<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>

<!-- CUSTOM JS -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script>
    var id = '';
    var name = '';
    var role = '';

    function getScrollTop() {
        var scrollTop = 0;
        if (document.documentElement && document.documentElement.scrollTop) {
            scrollTop = document.documentElement.scrollTop;
        }
        else if (document.body) {
            scrollTop = document.body.scrollTop;
        }
        return scrollTop;
    }
</script>


</body></html>
